<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionstring>
    <add name="ConnectionString"
         connectionString="Data Source=192.168.15.6;Initial Catalog=YunuscoERP;persist security info=True;user id=sa;password=Hello@123;" providerName="System.Data.SqlClient"/>
  </connectionstring>-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DemoButtons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <applicationSettings>
    <DemoButtons.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>data source=192.168.15.6;initial catalog=YunuscoERP;persist security info=True;user id=mapp;password=Dhaka@123;</value>
      </setting>
    </DemoButtons.Properties.Settings>
  </applicationSettings>
</configuration>
